<% provide(:title,'Home') %>
<div class="center hero-unit">
  <h1>Home</h1>
  <h2>
    SSO Manager
    <a href="#">sitio de prueba</a>
    2013.
  </h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
