<footer class="footer">
  <small>
    <a href="http://sso.com.ar/">SSO stuff Test</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>

